{
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native",
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "global-require": 0,
    "no-underscore-dangle": [2, { "allow": ["_id", "_navigator"] }],
  },
  "globals": {
    "fetch": true,
    "navigator": true,
    "window": true,
  }
}
